<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th scope="col" rowspan="2">Code</th>
      <th scope="col" rowspan="2">Name</th>
      <th scope="col" colspan="3">Impact levels</th>
    </tr>
    <tr>
      <th scope="col">Confidentiality</th>
      <th scope="col">Integrity</th>
      <th scope="col">Availability</th>
    </tr>
  </thead>
  <tbody>
    <% information_types.each do |information_type| %>
    <tr>
      <td scope="row"><%= link_to("#{information_type.type_code}", information_type_path(information_type.id)) %></td>
      <td><%= information_type.name %></td>
      <td class="text-center">
        <%= impact_level_text(information_type.confidentiality_impact_level) %>
      </td>
      <td class="text-center">
        <%= impact_level_text(information_type.integrity_impact_level) %>
      </td>
      <td class="text-center">
        <%= impact_level_text(information_type.availability_impact_level) %>
      </td>
    </tr>
    <% end %>
  </tbody>
  <tfoot></tfoot>
</table>
