<header>
  <!-- Fixed navbar -->
  <nav class="navbar sticky-top navbar-light" style="background-color: #ffffff;">
    <div class="container">
      <%= link_to(root_path(), { class: "navbar-brand" }) do %>
      <%= "#{Rails.application.config.app_name}" %>
      <i class="fas fa-keyboard text-info"></i>
      <% end %>
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto text-right">
          <li class="nav-item <%= is_active?('information_classes#index') %>">
            <%= link_to("Information classes", information_classes_path(), { class: "nav-link" }) %>
          </li>
          <li class="nav-item <%= is_active?('information_types#index') %>">
            <%= link_to("Information types", information_types_path(), { class: "nav-link" }) %>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
